Repository Blinue/Magpie, pull requests merged in 2025-04, with the labels that each got.

#1113 Suggest Nvidia default settings and more information about Max Frame Rate
  docs/Performance optimization.md
  docs/性能优化建议.md
Labels: area: performance, area: docs

#1115 修复 Win11 24H2 中 Graphics Capture 捕获帧率无法超过 60FPS 的问题
  docs/Compilation guide.md
  docs/编译指南.md
  src/Magpie.Core/GraphicsCaptureFrameSource.cpp
  src/Magpie.Core/Magpie.Core.vcxproj
  src/Magpie/App.idl
  src/Magpie/BlueInfoBarStyle.cpp
  src/Magpie/BlueInfoBarStyle.h
  src/Magpie/BlueInfoBarStyle.idl
  src/Magpie/BlueInfoBarStyle.xaml
  src/Magpie/HomePage.xaml
  src/Magpie/KeyVisual.Resource.xaml
  src/Magpie/KeyVisual.cpp
  src/Magpie/KeyVisual.h
  src/Magpie/KeyVisual.idl
  src/Magpie/Magpie.vcxproj
  src/Magpie/SettingsCard.Resource.xaml
  src/Magpie/SettingsCard.cpp
  src/Magpie/SettingsCard.h
  src/Magpie/SettingsCard.idl
  src/Magpie/SettingsExpander.Resource.xaml
  src/Magpie/SettingsExpander.cpp
  src/Magpie/SettingsExpander.h
  src/Magpie/SettingsExpander.idl
  src/Magpie/SettingsGroup.Resource.xaml
  src/Magpie/SettingsGroup.cpp
  src/Magpie/SettingsGroup.h
  src/Magpie/SettingsGroup.idl
  src/Magpie/app.manifest
  src/TouchHelper/TouchHelper.vcxproj
  src/Updater/Updater.vcxproj
Labels: area: performance, area: capture

#1127 Translations update from Hosted Weblate
  src/Magpie/Resources.language-ko.resw
Labels: area: localization
